<h1>Listing forecast_48s</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Pattern</th>
      <th>Publish time</th>
      <th>Predict time</th>
      <th>Pm25</th>
      <th>Pm10</th>
      <th>O3</th>
      <th>O3 8h</th>
      <th>Co</th>
      <th>So2</th>
      <th>No2</th>
      <th>Aqi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecast_48s.each do |forecast_48| %>
      <tr>
        <td><%= forecast_48.station_id %></td>
        <td><%= forecast_48.pattern %></td>
        <td><%= forecast_48.publish_time %></td>
        <td><%= forecast_48.predict_time %></td>
        <td><%= forecast_48.pm25 %></td>
        <td><%= forecast_48.pm10 %></td>
        <td><%= forecast_48.o3 %></td>
        <td><%= forecast_48.o3_8h %></td>
        <td><%= forecast_48.co %></td>
        <td><%= forecast_48.so2 %></td>
        <td><%= forecast_48.no2 %></td>
        <td><%= forecast_48.aqi %></td>
        <td><%= link_to 'Show', forecast_48 %></td>
        <td><%= link_to 'Edit', edit_forecast_48_path(forecast_48) %></td>
        <td><%= link_to 'Destroy', forecast_48, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast 48', new_forecast_48_path %>
