<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @forecast_48.station_id %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @forecast_48.pattern %>
</p>

<p>
  <strong>Publish time:</strong>
  <%= @forecast_48.publish_time %>
</p>

<p>
  <strong>Predict time:</strong>
  <%= @forecast_48.predict_time %>
</p>

<p>
  <strong>Pm25:</strong>
  <%= @forecast_48.pm25 %>
</p>

<p>
  <strong>Pm10:</strong>
  <%= @forecast_48.pm10 %>
</p>

<p>
  <strong>O3:</strong>
  <%= @forecast_48.o3 %>
</p>

<p>
  <strong>O3 8h:</strong>
  <%= @forecast_48.o3_8h %>
</p>

<p>
  <strong>Co:</strong>
  <%= @forecast_48.co %>
</p>

<p>
  <strong>So2:</strong>
  <%= @forecast_48.so2 %>
</p>

<p>
  <strong>No2:</strong>
  <%= @forecast_48.no2 %>
</p>

<p>
  <strong>Aqi:</strong>
  <%= @forecast_48.aqi %>
</p>

<%= link_to 'Edit', edit_forecast_48_path(@forecast_48) %> |
<%= link_to 'Back', forecast_48s_path %>
