<%= simple_form_for(@forecast_24) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :station_id %>
    <%= f.input :pattern %>
    <%= f.input :publish_time %>
    <%= f.input :predict_time %>
    <%= f.input :pm25 %>
    <%= f.input :pm10 %>
    <%= f.input :o3 %>
    <%= f.input :o3_8h %>
    <%= f.input :co %>
    <%= f.input :so2 %>
    <%= f.input :no2 %>
    <%= f.input :aqi %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
