<h1>Listing forecast_24s</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Pattern</th>
      <th>Publish time</th>
      <th>Predict time</th>
      <th>Pm25</th>
      <th>Pm10</th>
      <th>O3</th>
      <th>O3 8h</th>
      <th>Co</th>
      <th>So2</th>
      <th>No2</th>
      <th>Aqi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecast_24s.each do |forecast_24| %>
      <tr>
        <td><%= forecast_24.station_id %></td>
        <td><%= forecast_24.pattern %></td>
        <td><%= forecast_24.publish_time %></td>
        <td><%= forecast_24.predict_time %></td>
        <td><%= forecast_24.pm25 %></td>
        <td><%= forecast_24.pm10 %></td>
        <td><%= forecast_24.o3 %></td>
        <td><%= forecast_24.o3_8h %></td>
        <td><%= forecast_24.co %></td>
        <td><%= forecast_24.so2 %></td>
        <td><%= forecast_24.no2 %></td>
        <td><%= forecast_24.aqi %></td>
        <td><%= link_to 'Show', forecast_24 %></td>
        <td><%= link_to 'Edit', edit_forecast_24_path(forecast_24) %></td>
        <td><%= link_to 'Destroy', forecast_24, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast 24', new_forecast_24_path %>
