<span>更新时间: 
	<% if flag == 'monitor_hour' %>
		<%= data[:time].to_time.strftime("%Y-%m-%d %H:00:00") %>
	<% else %>
		<%= data[:time].to_time.strftime("%Y-%m-%d") %>
	<% end %>
</span> 
<table class="table table-hover">
	<thead>
		<tr>
			<th>排名</th>
			<th>
				<% if flag == 'monitor'||flag == 'monitor_hour' %>
					<%= '县(市区)'%>
				<% else %>
					<%= '城市'%>
				<% end %>
			</th>
			<th>SO2(ug/m3)</th>
			<th>NO2(ug/m3)</th>
			<th>CO(mg/m3)</th>
			<th>O3(ug/m3)</th>
			<th>PM10(ug/m3)</th>
			<th>PM2.5(ug/m3)</th>
			<th>综合指数</th>
		</tr>
	</thead>
	<tbody>
		<% if flag == 'monitor_hour' %>
		  <% data = data[:cities].sort_by{|a| a['AQI']}%>
	  <% else %>
		  <% data = data[:cities].sort_by{|a| a['zonghezhishu']}%>
    <% end %>
		<% for i in (0...data.length)%>
			<% tmp=data[data.length-1-i] %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= tmp['city']%></td>
				<td>
					<%= tmp['SO2']==nil ? '——' : tmp['SO2'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['SO2_change_rate']==nil ? '——' : (tmp['SO2_change_rate'] + '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['SO2_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['NO2']==nil ? '——' : tmp['NO2'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['NO2_change_rate']==nil ? '——' : (tmp['NO2_change_rate'] + '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['NO2_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['CO']==nil ? '——' : tmp['CO'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['CO_change_rate']==nil ? '——' : (tmp['CO_change_rate']+ '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['CO_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['O3']==nil ? '——' : tmp['O3'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['O3_change_rate']==nil ? '——' : (tmp['O3_change_rate']+ '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['O3_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['pm10']==nil ? '——' : tmp['pm10'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['pm10_change_rate']==nil ? '——' : (tmp['pm10_change_rate']+ '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['pm10_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['pm25']==nil ? '——' : tmp['pm25'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['pm25_change_rate']==nil ? '——' : (tmp['pm25_change_rate']+ '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['pm25_change_rate'].nil? %>
					<% end %>
				</td>
				<td>
					<%= tmp['zonghezhishu']==nil ? '——' : tmp['zonghezhishu'] %>
					&nbsp&nbsp
					<% if hasRate%>
						<%= tmp['zongheindex_change_rate']==nil ? '——' : (tmp['zongheindex_change_rate']+ '%') %>
						<%= image_tag "#{tmp['img']}.jpg" if !tmp['zongheindex_change_rate'].nil? %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
