<%= render partial:"qinhuangdao/banner",locals:{banner:@banner} %>
<div class="container">
	<!-- 邻县 -->
	<div style="width: 1100px;height: 240px;text-align: center;">
		<table id="table_around" style="width: 100%;height: 100%;text-align: center;">

		</table>
	</div>
	<!-- 邻县 end -->
	<table stylecellpadding="0" cellspacing="0" class="content" width="100%">
		<tbody>
			<tr>
				<td>
					<ul class="menu">
						<li id="menu_forecast" style="production:left;padding:0px;margin:0px">
							<font class="top11-title" style="color:black; padding:0px;margin:0px">空气质量预报</font>
						</li>
					</ul>
					<div class="future-list">
						<ul>
							<% for i in (0..4) %>
								<% time = i.day.from_now.strftime("%Y%m%d") %>
								<% t = @forecast_data[time] %>
								<% next unless t %>
								<% dnil='暂无数据' %>
								<li>
									<h4 class="list-title"><%= t["date"] %></h4>
									<table cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td><span class="gray">级别</span></td>
												<td><span class="list-alue" style="<%= 'font-size:12px' if t['fore_lev'].nil? %>"><span class="<%= t['fore_lev'] if t["fore_lev"] != nil %> <%= t['fore_lev'] != nil ? 'small' : 'small1'%>"><%= t['level'] !=nil ? t["level"] : dnil%></span></span></td>
											</tr>
											<tr>
												<td style="width:88px;"><span class="gray">首要污染物</span></td>
												<td><span class="list-alue" style="<%= 'font-size:12px' if t['main_pol'].nil? %>"><%= t["main_pol"] != nil ? t["main_pol"] : dnil%></span></td>
											</tr>
											<tr>
												<td style="padding-top:15px;"><span class="gray">天气</span></td>
												<td class="list-weather" style="padding-top:10px;"><span ><%= t["tq"] != nil ? t["tp"] : '-' %>&nbsp;<br><%= t["temp2"] !=nil ? t['temp2'] : '-' %>℃~<%= t["temp1"] !=nil ? t['temp1'] : '-' %>℃<br><%= t["wd"] !=nil ? t['wd'] : '-'%>&nbsp<%= t["ws"] !=nil ? t['ws'] : '-' %></span></td>
											</tr>
										</tbody>
									</table>
								</li>
							<% end %>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- 历史数据模块 -->
	<%= stylesheet_link_tag "css/daterangepicker-bs3.css" %>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="containerbd" id="md-ls" style="margin-top:20px;">
		<div class="dtipbd"></div>
		<div class="subtitlebd">秦皇岛历史数据变化</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="btngroupbd btnbd-toolbar">
					<div id="btn-group1" class="btnbd-group btnbd-group-sm " style="float:left; margin-top: 10px;">
						<button type="button" class="btnbd btnbd-default btndategroup1 btnbd-info" value="DAY">最近一天</button>
						<button type="button" class="btnbd btnbd-default btndategroup1" value="WEEK">最近一周</button>
						<button type="button" class="btnbd btnbd-default btndategroup1" value="MONTH">最近一月</button>
						<button type="button" class="btnbd btnbd-default btndategroup1" value="YEAR">最近一年</button>
						<input type="text" style="width: 220px;height:30px;padding:6px 10px;" name="reservation" id="reservation" class="form-control">
					</div>
					<div id="btn-group2" class="btnbd-group btnbd-group-sm " style="float:right; margin:0 ">
						<button type="button" class="btnbd btnbd-default btntypegroup1 btnbd-info" value="HOUR">时</button>
						<button type="button" class="btnbd btnbd-default btntypegroup1" value="DAY">日</button>
						<button type="button" class="btnbd btnbd-default btntypegroup1" value="MONTH">月</button>
					</div>
				</div>
				<div class="btngroupbd btnbd-toolbar" style="margin-top: 10px;">
					<div id="btn-group1" class="btnbd-group btnbd-group-sm " style="float:left">
						<button type="button" class="btnbd btnbd-default btnitemgroup1 btnbd-info" value="AQI">AQI</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="TOTAL">综合</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="PM2.5">PM2.5</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="PM10">PM10</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="SO2">SO2</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="NO2">NO2</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="CO">CO</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="O3">O3</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="INDEX">综合指数</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="TEMP">温度</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="HUMI">湿度</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup1" value="WIND">风级</button>
					</div>
					<div id="btn-group2" class="btnbd-group btnbd-group-sm " style="float:right; margin:0 "></div>
				</div>
				<div id="chart" class="aqichartbdzh"></div>
			</div>
			<div class="col-xs-3" style="display:block">
				<div id="piechart" class="aqichartbd" style="margin-top:35px;"></div>
			</div>
		</div>
	</div>


	<!-- 历史排名曲线模块 -->

	<div class="containerbd" id="md-qx" style="margin-top:20px;">
		<div class="dtipbd"></div>
		<div class="subtitlebd">秦皇岛历史排名曲线</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="btngroupbd">
					<div class="btnbd-group btnbd-group-sm" style="float:right">
						<button type="button" class="btnbd btnbd-default btndategroup3" value="DAY">日排名</button>
						<button type="button" class="btnbd btnbd-default btndategroup3" value="MONTH">月排名</button>
					</div>
					<div class="btnbd-group btnbd-group-sm">
						<button type="button" class="btnbd btnbd-default btnitemgroup3" value="ASC">正排</button>
						<button type="button" class="btnbd btnbd-default btnitemgroup3" value="DESC">倒排</button>
					</div>
					<div id="chart" class="aqichartbd"></div>
				</div>
				<div class="col-xs-3" style="display:none">
					<div id="piechart" class="aqichartbd" style="margin-top:35px;"></div>
				</div>
				<div id="rankchart" class="aqichartbd"></div>
			</div>
		</div>
	</div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 >
				<strong>空气质量AQI排名</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-6">
							<table class="table table-striped">
								<caption>秦皇岛市各区县小时排名&nbsp&nbsp<%= @qhdbyhour[:time].to_time.strftime("%Y-%m-%d %H:00:00") %></caption>
								<thead>
									<tr class="top11-color-title bluegreen">
										<th>排名</th>
										<th>县(市区)</th>
										<th>AQI</th>
										<th>级别</th>
										<th>首要污染物</th>
									</tr>
								</thead>
								<tbody>
									<% qhdbyhour=@qhdbyhour[:cities].sort_by{|a| a['AQI'].to_i} %>
									<% for i in (0...qhdbyhour.length) %>
										<% tmp=qhdbyhour[i] %>

										<tr>
											<td><%= i+1 %></td>
											<td><%= tmp['city'] %></td>
											<td><%= tmp['AQI'] %></td>
											<td><%= tmp['quality'] %></td>
											<td><%= tmp['main_pol'] %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<div class="col-xs-6">
							<table class="table table-striped">
								<caption>秦皇岛市各区县空气质量日均排名&nbsp&nbsp<%= @qhdbyday[:time].to_time.strftime("%Y-%m-%d") %></caption>
								<thead>
									<tr class="top11-color-title bluegreen">
										<th>排名</th>
										<th>县(市区)</th>
										<th>AQI</th>
										<th>级别</th>
										<th>首要污染物</th>
									</tr>
								</thead>
								<tbody>
									<% qhdbyday=@qhdbyday[:cities].sort_by{|a| a['AQI'].to_i} %>
									<% for i in (0...qhdbyday.length) %>
										<% tmp=qhdbyday[i] %>
										<tr>
											<td><%= i+1 %></td>
											<td><%= tmp['city'] %></td>
											<td><%= tmp['AQI'] %></td>
											<td><%= tmp['level'] %></td>
											<td><%= tmp['main_pol'] %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<table class="table table-striped">
								<caption>省内城市小时排名&nbsp&nbsp<%= @hebeidatabyhour[:time].to_time.strftime("%Y-%m-%d %H:00:00") %></caption>
								<thead>
									<tr class="top11-color-title blue">
										<th>排名</th>
										<th>城市</th>
										<th>AQI</th>
										<th>级别</th>
										<th>首要污染物</th>
									</tr>
								</thead>
								<tbody>
									<% hebeidatabyhour=@hebeidatabyhour[:cities].sort_by{|a| a['AQI'].to_i} %>
									<% for i in (0...hebeidatabyhour.length) %>
										<% tmp=hebeidatabyhour[i] %>
										<tr>
											<td><%= i+1 %></td>
											<td><%= tmp['city'] %></td>
											<td><%= tmp['AQI'] %></td>
											<td><%= tmp['level'] %></td>
											<td><%= tmp['main_pol'] %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<div class="col-xs-6">
							<table class="table table-striped">
								<caption>省内城市日均排名&nbsp&nbsp<%= @hebeidatabyday[:time].to_time.strftime("%Y-%m-%d") %></caption>
								<thead>
									<tr class="top11-color-title blue">
										<th>排名</th>
										<th>城市</th>
										<th>AQI</th>
										<th>级别</th>
										<th>首要污染物</th>
									</tr>
								</thead>
								<tbody>
									<% hebeidatabyday=@hebeidatabyday[:cities].sort_by{|a| a['AQI'].to_i} %>
									<% for i in (0...hebeidatabyday.length) %>
										<% tmp=hebeidatabyday[i] %>
										<tr>
											<td><%= i+1 %></td>
											<td><%= tmp['city'] %></td>
											<td><%= tmp['AQI'] %></td>
											<td><%= tmp['level'] %></td>
											<td><%= tmp['main_pol'] %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<table class="table table-striped">
						<caption>全国74城市空气质量日均排名<%= @sfcitiesrankbyday[:time].to_time.strftime("%Y-%m-%d") %></caption>
						<thead>
							<tr class="top11-color-title green">
								<th>倒数排名</th>
								<th>城市</th>
								<th>AQI</th>
								<th>级别</th>
								<th>首要污染物</th>
							</tr>
						</thead>
						<tbody>
							<% sfcitiesrankbyday=@sfcitiesrankbyday[:cities].sort_by{|a| a["AQI"].to_i} %>
							<% for i in (0...sfcitiesrankbyday.length) %>
								<% tmp=sfcitiesrankbyday[sfcitiesrankbyday.length-1 -i] %>
								<% break if i==21 %>
								<tr>
									<td><%= i+1 %></td>
									<td><%= tmp['city'] %></td>
									<td><%= tmp['AQI'] %></td>
									<td><%= tmp['level'] %></td>
									<td><%= tmp['main_pol'] %></td>
								</tr>
							<% end %>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td colspan="0"><a href="#sfcity" class='btn-link'>更多</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 >
				<strong>各县市区污染物浓度及空气质量综合指数</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-title">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#lfgqxyue" data-toggle="tab"><strong>污染物浓度（时报）</strong></a></li>
							<li><a href="#lfgqxnian" data-toggle="tab"><strong>污染物浓度（日报）</strong></a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="lfgqxyue">
							<%= render partial:'qinhuangdao/data_table',locals:{data:@qhdbyhour,flag:'bd',hasRate:false} %>
						</div>
						<div class="tab-pane fade" id="lfgqxnian">
							<%= render partial:'qinhuangdao/data_table',locals:{data:@qhdbyday,flag:'bd',hasRate:false} %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 >
				<strong>京津冀城市污染物浓度及空气质量综合指数</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-title">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#jjjcsyue" data-toggle="tab"><strong>污染物浓度（月报）</strong></a></li>
							<li><a href="#jjjcsnian" data-toggle="tab"><strong>污染物浓度（年报）</strong></a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="jjjcsyue">
							<%= render partial: 'qinhuangdao/data_table',locals:{data:@jjjdatabymonth,flag:'jjj',hasRate:true} %>
						</div>
						<div class="tab-pane fade" id="jjjcsnian">
							<%= render partial: 'qinhuangdao/data_table',locals:{data:@jjjdatabyyear,flag:'jjj',hasRate:true} %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 >
				<strong>74城市污染物浓度及空气质量综合指数和同期变化率</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-title">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#sfrizhzs" data-toggle="tab">
									<strong>污染物浓度（日报）</strong>
								</a>
							</li>
							<li>
								<a href="#sfyuezhzs" data-toggle="tab">
									<strong>污染物浓度（月报）</strong>
								</a>
							</li>
							<li>
								<a href="#sfnianzhzs" data-toggle="tab">
									<strong>污染物浓度（年报）</strong>
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active sf" id="sfrizhzs" >
							<%= render partial: 'qinhuangdao/data_table',locals:{data:@sfcitiesrankbyday,flag:'sf',hasRate: true} %></div>
						<div class="tab-pane fade" id="sfyuezhzs" sf>
							<%= render partial: 'qinhuangdao/data_table',locals:{data:@sfcitiesrankbyday,flag:'sf',hasRate: true} %></div>
						<div class="tab-pane fade" id="sfnianzhzs" sf>
							<%= render partial: 'qinhuangdao/data_table',locals:{data:@sfcitiesrankbyyear,flag:'sf',hasRate: true} %></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading" id='sfcity'>
			<h3 >
				<strong>74城市空气质量综合指数排名</strong>
			</h3>
		</div>
		<div class="panel-body" name='sfcity'>
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-title">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#sfri" data-toggle="tab">
									<strong>污染物浓度（日报）</strong>
								</a>
							</li>
							<li>
								<a href="#sfyue" data-toggle="tab">
									<strong>污染物浓度（月报）</strong>
								</a>
							</li>
							<li>
								<a href="#sfnian" data-toggle="tab">
									<strong>污染物浓度（年报）</strong>
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active sf" id="sfri">
							<%= render partial:'qinhuangdao/data_table',locals:{data:@sfcitiesrankbyday,flag:'sf',hasRate: false} %>
						</div>
						<div class="tab-pane fade sf" id="sfyue">
							<%= render partial:'qinhuangdao/data_table',locals:{data:@sfcitiesrankbymonth,flag:'sf',hasRate: false} %>
						</div>
						<div class="tab-pane fade sf" id="sfnian">
							<%= render partial:'qinhuangdao/data_table',locals:{data:@sfcitiesrankbyyear,flag:'sf',hasRate: false} %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer"></div>
	</div>
</div>
<% nt = Time.now
i = 0
path = '/mnt/share/Products/Web/'+@city_adj
begin
	strnow1 = (nt-60*60*24*i).strftime('%Y%m%d')
	strnow2 = (nt-60*60*24*i).strftime("%Y-%m-%d")
	file = path + strnow1 + '/CUACE_09km_adj_SO2_120_'+strnow2+'.png'
	i = i + 1
	break if i == 7
end until File::exists?(file)
%>
	<%= javascript_include_tag 'bootstrap.min','respond','chart','bootstrap-table.min','moment','daterangepicker','crypto_zq-min','LineChart','rank_chart',"cities_around" %>
<% content_for :nav do%>
	$('.navigation li .pinggu').addClass('current-link');
	$(".change").click(function(){
	if($(this).is(".active")){
	return;
	}
	$(this).addClass("active").siblings().removeClass("active");
	});
	change('<%= image_tag "ftproot/Products/Web/"+@city_adj+strnow1+"/CUACE_09km_adj_SO2_120_"+strnow2+".png", class:"col-xs-12" %>');
	function change(img){
		$('.yuanzhuizong').html(img);
	}
<% end %>

