<div class="container">

	<%= form_tag(subindex_qinhuangdao_path, method: "get", html: { class: 'form-inline' }, remote: true) do %>
		<%= label_tag(:d, "城市：") %>
		<%= collection_select(:c, :city_id, City.order(:id), :id, :city_name, {:selected => 18}) %>
		<%= label_tag(:start_date, "开始日期：") %>
		<%= select_date Date.today-5.days, prefix: :start_date %>
		<%= label_tag(:end_date, "结束日期：") %>
		<%= select_date Date.today+5.days, prefix: :end_date %>
		<button id="subbtn" type="submit" class="btn btn-default" >Submit</button>
	<% end %>
	<ul class="nav nav-pills" id="myTab">
		<li class="active"><a href="#aqi" data-toggle="tab">AQI</a></li>
		<li><a href="#so2" data-toggle="tab">SO2</a></li>
		<li><a href="#no2" data-toggle="tab">NO2</a></li>
		<li><a href="#co" data-toggle="tab">CO</a></li>
		<li><a href="#o3" data-toggle="tab">O3</a></li>
		<li><a href="#pm10" data-toggle="tab">PM10</a></li>
		<li><a href="#pm25" data-toggle="tab">PM25</a></li>
		<li><a href="#vis" data-toggle="tab">VIS</a></li>
	</ul>
	<div id="subIndexTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="aqi" >
			<%= line_chart @chart_aqi,height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_AQI CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="so2" >
			<%= line_chart @chart_so2,height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_SO2 CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="no2">
			<%= line_chart @chart_no2, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_NO2 CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="co">
			<%= line_chart @chart_co, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_CO CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="o3">
			<%= line_chart @chart_o3, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_O3 CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="pm10">
			<%= line_chart @chart_pm10, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_PM10 CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="pm25">
			<%= line_chart @chart_pm25, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_PM25 CUACE (CAMS)"} } %>
		</div>
		<div class="tab-pane fade" id="vis">
			<%= line_chart @chart_vis, height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text: @city_name.to_s+"_VIS CUACE (CAMS)"} } %>
		</div>
	</div>

	<div id='fore_compare' class="col-xs-12">
		<%= column_chart @fore_group_day, height: "600px", library: {title:{text:"City_forecast_AQI_day_compare"}}  %>
	</div>

	<h2>当天的预报均值和监测均值对比表</h2>
	<table class="display" id="fore_monitor_compare" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>城市</th>
				<th>今天的监测日均值</th>
				<th>今天到目前的预报均值</th>
				<th>预报偏差</th>
				<th>预报发布时间</th>
				<!--<th>综合指数</th>-->
			</tr>
		</thead>
		<tbody>
			<% @diff_monitor_forecast.each{ |d| %>
				<% if d[3] > 50 %>
					<tr style="color:#ff0000">
					<% else %>
						<tr>
						<% end %>
						<td><%= d[0] %></td>
						<td><%= d[1] %> </td>
						<td><%= d[2] %></td>
						<td><%= d[3] %></td>
						<td><%= d[4] %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<script>
		$(document).ready(function() {
			$('#fore_monitor_compare').DataTable( {
				"order": [[ 3, "desc" ]]
			} );
		});
	</script>
