<div class="container">
  <%= form_tag(bar_welcome_path, method: "get", html: { class: 'form-inline' }, remote: true) do %>
    <%= label_tag(:d, "城市：") %>
    <%= collection_select(:c, :city_id, City.all, :id, :city_name) %>
    <%= label_tag(:start_date, "开始日期：") %>
    <%= select_date Date.today-5.days, prefix: :start_date %>
    <%= label_tag(:end_date, "结束日期：") %>
    <%= select_date Date.today, prefix: :end_date %>
    <button id="subbtn" type="submit" class="btn btn-default" >Submit</button>
  <% end %>

  <div id="line_chart1">
    <%= line_chart bar_welcome_path,  height: "400px", library: {title:{text:"Station_Langfang_AQI      CUACE (CAMS)"}}%>
  </div>

  <div class="col-xs-12">
    <%= column_chart HourlyCityForecastAirQuality.group(:publish_datetime).group_by_hour(:forecast_datetime, format: "%HZ\n %d%b").average(:AQI), height: "600px", library: {title:{text:"Station_Langfang_AQI      CUACE (CAMS)"},subtitle:{text:"2015-04-12_21:00       +  120h"}}  %>
  </div>

</div>
