<div class="container">

	<!--
  <% post = '370211' %>
  <div class="city-group">
    <select id="province" class="city-select">
      <option value="">--省份--</option>
      <%= options_for_select(ChinaCity.list, post[0,2]+'0000') %>
    </select>
    <select id="city" class="city-select">
      <option value="">--城市--</option>
      <%= options_for_select(ChinaCity.list(post[0,2]+'0000'), post[0,4]+'00') %>
    </select>
    <select id="district" class="city-select">
      <option value="">--地区--</option>
      <%= options_for_select(ChinaCity.list(post[0,4]+'00'), post) %>
    </select>
  </div>
  -->
  



  <%= form_tag(bar_welcome_path, method: "get", html: { class: 'form-inline' }, remote: true) do %>
    <%# <%= label_tag(:d, "城市：") %1> %>
    <%# <%= collection_select(:c, :city_id, City.order(:id), :id, :city_name, {:selected => 18}) %1> %>
	
 	<div class="cityinputBox">
        <span style="vertical-align:middle">城市</span> 
        <input type="text" class="cityinput" id="city1" name="c[city_name]"/>
	</div>

    <%= label_tag(:start_date, "开始日期：") %>
    <%= select_date Date.today-5.days, prefix: :start_date %>
    <%= label_tag(:end_date, "结束日期：") %>
    <%= select_date Date.today+5.days, prefix: :end_date %>
    <button id="subbtn" type="submit" class="btn btn-default" >Submit</button>
  <% end %>

  <div id="line_chart1">
    <%#= column_chart bar_welcome_path,  height: "600px", library: {title:{text:"Station_Langfang_AQI      CUACE (CAMS)"}}%>
	<%= line_chart @chart,  height: "600px", library: { chart:{backgroundColor: "#eee"}, title:{text:" City_AQI      CUACE (CAMS)"} } %>
  </div>

  <div id='fore_compare' class="col-xs-12">

	  <%# c = City.find_by_city_name_pinyin('langfangshi') %>
	  <%# h = c.hourly_city_forecast_air_qualities.group(:publish_datetime).having("publish_datetime > ?", 4.days.ago).group_by_day(:forecast_datetime, format: "%HZ\n %d%b").average(:AQI) %>
	  <%# h.each {|k,v| h[k] = v.round}%>
	  <%= column_chart @fore_group_day, height: "600px", library: {chart:{zoomType:"x"},title:{text:"City_forecast_AQI_day_compare"}}  %>
  </div>

  <!--
  <table class="table table-striped" id="fore_avg_aqi">
	  <tr>
		  <th>发布时间</th>
		  <th>预报时间</th>
		  <th>AQI</th>
	  </tr>

	  <% @fore_group_day.each{ |key,value| %>
		  <tr>
		  <% unless value == 0 %>
			  <td><%= key[0] %></td>
			  <td><%= key[1] %> </td>
			  <td><%= value %></td>
		  <% end %>
		  </tr>
	  <% } %>
  </table>
  -->

  <h2>当天的预报均值和监测均值对比表</h2>
  <table class="display" id="fore_monitor_compare" cellspacing="0" width="100%">
	  <thead>
	  <tr>
		  <th>城市</th>
		  <th>今天的监测日均值</th>
		  <th>今天到目前的预报均值</th>
		  <th>预报偏差</th>
		  <th>预报发布时间</th>
		  <!--<th>综合指数</th>-->
	  </tr>
	  </thead>

	  <tbody>

	  <% @diff_monitor_forecast.each{ |d| %>
	  	  <% if d[3] > 50 %>
		  <tr style="color:#ff0000">
		  <% else %>
		  <tr>
		  <% end %>
			  <td><%= d[0] %></td>
			  <td><%= d[1] %> </td>
			  <td><%= d[2] %></td>
		  	  <td><%= d[3] %></td>
		  	  <td><%= d[4] %></td>
		  </tr>
		  
	  <% } %>
	  </tbody>
  </table>

</div>

<script>
	$(document).ready(function() {
		$('#fore_monitor_compare').DataTable( {
			"order": [[ 3, "desc" ]]
		} );
	});
</script>

<%= javascript_include_tag "bootstrap.min","respond","citySelector","barcity"%>
