<div class="container">

  <% post = '370211' %>
  <div class="city-group">
    <select id="province" class="city-select">
      <option value="">--省份--</option>
      <%= options_for_select(ChinaCity.list, post[0,2]+'0000') %>
    </select>
    <select id="city" class="city-select">
      <option value="">--城市--</option>
      <%= options_for_select(ChinaCity.list(post[0,2]+'0000'), post[0,4]+'00') %>
    </select>
    <select id="district" class="city-select">
      <option value="">--地区--</option>
      <%= options_for_select(ChinaCity.list(post[0,4]+'00'), post) %>
    </select>
  </div>



  <%= form_tag(bar_welcome_path, method: "get", html: { class: 'form-inline' }, remote: true) do %>
    <%= label_tag(:d, "城市：") %>
    <%= collection_select(:c, :city_id, City.all, :id, :city_name) %>
    <%= label_tag(:start_date, "开始日期：") %>
    <%= select_date Date.today-5.days, prefix: :start_date %>
    <%= label_tag(:end_date, "结束日期：") %>
    <%= select_date Date.today, prefix: :end_date %>
    <button id="subbtn" type="submit" class="btn btn-default" >Submit</button>
  <% end %>

  <div id="line_chart1">
    <%= column_chart bar_welcome_path,  height: "600px", library: {title:{text:"Station_Langfang_AQI      CUACE (CAMS)"}}%>
  </div>

  <div class="col-xs-12">
    <%= column_chart HourlyCityForecastAirQuality.group(:publish_datetime).group_by_day(:forecast_datetime, format: "%HZ\n %d%b").average(:AQI), height: "600px", library: {title:{text:"Station_Langfang_AQI      CUACE (CAMS)"},subtitle:{text:"2015-04-12_21:00       +  120h"}}  %>
  </div>
  <div class="col-xs-4">
    <%= pie_chart({"Football" => 10, "Basketball" => 5}, class:"col-xs-4") %>
  </div>
  <div class="col-xs-4">
    <%= pie_chart({"Football" => 10, "Basketball" => 5}, class:"col-xs-4") %>
  </div>
  <div class="col-xs-4">
    <%= pie_chart({"Football" => 10, "Basketball" => 5}, class:"col-xs-4") %>
  </div>

</div>

