<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AQI map</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'leaflet', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/leaflet.ChineseTmsProviders', :cache => true %>
    <%= javascript_include_tag 'vendor/OSMBuildings-Leaflet', :cache => true %>
    <%= stylesheet_link_tag 'leaflet', media: 'all', 'data-turbolinks-track' => true %>
    <!--<script src="https://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=2Y4uekEhb2LLbcLAWEZ4APZyvaAEhbVd"></script>-->
  </head>
  <body>
    <div class="container-fluid">

        
      <div class="col-xs-12">
        <div style="position:absolute;top:20px;left:30%;padding:4px;background:rgba(255,255,255,0.9);z-index:2000;">2015年12月20日到12月25日京津冀地区SO2排放对廊坊的PM2.5浓度影响贡献分布</div>
        <div id="map" style='width:100%; height:800px'> </div>
        <div style="position: absolute; top: 100px; right: 20px;"><%= image_tag("adj_so2_legend.png") %></div>
        <div style="position: absolute; bottom: 20px; width:200px ; right: 20px;"> 
			<!--<span>单位：ug/m^3</span>-->
          <%=pie_chart @perc, height: "200px"%>
        </div>
      </div>

    </div>



    <%= javascript_include_tag 'adj_map', 'data-turbolinks-track' => true %>
    <script type="text/javascript" charset="utf-8">
      setMap('map', <%=(raw @geoJsonBlockSO2.to_json) unless @geoJsonBlockSO2.nil?%>);
     </script>
   </body>
 </html>

