<div class="home-banner"> 
	<div class="container">
		<table cellpadding="0" cellspacing="0" border="0" width="100%;">
			<tr>
				<td width="780">
					<div class="logo">
						<div width="307" height="54">
							<div class="dropdown">
								<button class="btn dropdown-toggle  <%=@lev+'-font'%>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
									<h1><strong><%=@city_name%></strong></h1>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

									<%= form_tag(root_path, method: "get", html: { class: 'form-inline' }) do %>
										<div class="city-group">
											<li role="presentation">
												<select id="city" class="city-select form-control" name='city_post'>
													<option value="">--城市--</option>
													<%= options_for_select(ChinaCity.list(@post[0,2]+'0000'), @post[0,4]+'00') %>
												</select>
											</li>
										</div>
										<li role="presentation">
											<button id="subbtn" type="submit" class="btn btn-default pull-right" >确认</button>
										</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>

					<div class="haze-forecast">
						<!-- 级别图 -->
						<div class="haze-grade"><%= image_tag @lev+'.png', width:275, height:157 %></div>
						<!-- 级别图 end -->
						<!-- 参数值  -->
						<div class="haze-value">
							<ul class="haze-value-top">
								<li> 
									<!-- 污染指数 -->
									<span class="haze-numerical <%=@lev+'-font'%>"><%=@aqi%></span>
									<!-- 污染指数 end -->
								</li>
								<li class="haze-value-bar">
									<!-- 污染级别 -->
									<span class="haze-level <%=@lev%>"><%=@lev_han%></span>
									<!-- 污染级别 end-->
								</li>
								<li  class="haze-value-bar">
									<!-- 污染类型 -->
									<span class="haze-type">AQI&nbsp;&nbsp;&nbsp;&nbsp;<%=@rt.strftime('%H')%>时更新</span>
									<!-- 污染类型 end-->
								</li>
							</ul> 
							<ul class="haze-classification">
								<li>
									<span class="haze-classification-name you">PM2.5</span>
									<span class="haze-classification-value"><%=@pm2_5%></span>
								</li>
								<li>
									<span class="haze-classification-name you">PM10</span>
									<span class="haze-classification-value"><%=@pm10%></span>
								</li>
								<li>
									<span class="haze-classification-name you">SO2</span>
									<span class="haze-classification-value"><%=@so2%></span>
								</li>
								<li>
									<span class="haze-classification-name you">CO</span>
									<span class="haze-classification-value"><%=@co%></span>
								</li>
								<li>
									<span class="haze-classification-name you">NO2</span>
									<span class="haze-classification-value"><%=@no2%></span>
								</li>
								<li>
									<span class="haze-classification-name you">O3</span>
									<span class="haze-classification-value"><%=@o3%></span>
								</li>
							</ul>
						</div>
						<!-- 参数值  -->
					</div>
				</td>
				<td width="420" valign="top">
					<div class="weather">
					</div>
					<div class="date">
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 >
				<strong>74城市空气质量综合指数排名</strong>
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-title">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#sfri" data-toggle="tab"><strong>污染物浓度（日报）</strong></a></li> 
							<li><a href="#sfyue" data-toggle="tab"><strong>污染物浓度（月报）</strong></a></li>
							<li><a href="#sfnian" data-toggle="tab"><strong>污染物浓度（年报）</strong></a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="sfri">
							<span>更新时间: 
								<%= @sfcitiesrankbyday[:time].strftime("%Y-%m-%d")
							%>
					</span> 
					<table class="table">
						<thead>
							<tr>
								<th>排名</th>
								<th>城市</th>
								<th>SO2(ug/m3)</th>
								<th>NO2(ug/m3)</th>
								<th>CO(mg/m3)</th>
								<th>O3(ug/m3)</th>
								<th>PM10(ug/m3)</th>
								<th>PM2.5(ug/m3)</th>
								<th>综合指数</th>
							</tr>
						</thead>
						<tbody>
							<% sfcitiesrankbyday=@sfcitiesrankbyday[:cities].sort_by{|sfri| sfri['zonghezhishu']}%>
							<% for i in (0...sfcitiesrankbyday.length)%>
								<% tmp=sfcitiesrankbyday[sfcitiesrankbyday.length - 1 -i] %>
								<tr>
									<th><%= i+1 %></th>
									<th><%= tmp['city'] %></th>
									<th><%= tmp['SO2'] %></th>
									<th><%= tmp['NO2'] %></th>
									<th><%= tmp['CO'] %></th>
									<th><%= tmp['O3'] %></th>
									<th><%= tmp['pm10'] %></th>
									<th><%= tmp['pm25'] %></th>
									<th><%= tmp['zonghezhishu'] %></th>
								</tr>
							<% end %>
						</tbody>
					</table> 

				</div>    
				<div class="tab-pane fade" id="sfyue">
					<span>更新时间: 
						<%= @sfcitiesrankbymonth[:time].strftime("%Y-%m-%d")
					%>
			</span> 
			<table class="table">
				<thead>
					<tr>
						<th>排名</th>
						<th>城市</th>
						<th>SO2(ug/m3)</th>
						<th>NO2(ug/m3)</th>
						<th>CO(mg/m3)</th>
						<th>O3(ug/m3)</th>
						<th>PM10(ug/m3)</th>
						<th>PM2.5(ug/m3)</th>
						<th>综合指数</th>
					</tr>
				</thead>
				<tbody>
					<%  sfcitiesrankbymonth=@sfcitiesrankbymonth[:cities].sort_by{|sfyue| sfyue['zonghezhishu']}%>
					<% for i in (0...sfcitiesrankbymonth.length)%>
						<% tmp=sfcitiesrankbymonth[sfcitiesrankbymonth.length - 1 -i]%>
						<tr>
							<th><%= i+1 %></th>
							<th><%= tmp['city'] %></th>
							<th><%= tmp['SO2'] %></th>
							<th><%= tmp['NO2'] %></th>
							<th><%= tmp['CO'] %></th>
							<th><%= tmp['O3'] %></th>
							<th><%= tmp['pm10'] %></th>
							<th><%= tmp['pm25'] %></th>
							<th><%= tmp['zonghezhishu'] %></th>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="tab-pane fade" id="sfnian">
			<span>更新时间: 
				<%= @sfcitiesrankbyyear[:time].strftime("%Y-%m-%d") %>
			</span> 
			<table class="table">
				<thead>
					<tr>
						<th>排名</th>
						<th>城市</th>
						<th>SO2(ug/m3)</th>
						<th>NO2(ug/m3)</th>
						<th>CO(mg/m3)</th>
						<th>O3(ug/m3)</th>
						<th>PM10(ug/m3)</th>
						<th>PM2.5(ug/m3)</th>
						<th>综合指数</th>
					</tr>
				</thead>
				<tbody>
					<% sfcitiesrankbyyear=@sfcitiesrankbyyear[:cities].sort_by{|sfnian| sfnian['zonghezhishu']}%>
					<% for i in (0...sfcitiesrankbyyear.length)%>
						<% tmp=sfcitiesrankbyyear[sfcitiesrankbyyear.length - 1 -i]%>
						<tr>
							<th><%= i+1 %></th>
							<th><%= tmp['city'] %></th>
							<th><%= tmp['SO2'] %></th>
							<th><%= tmp['NO2'] %></th>
							<th><%= tmp['CO'] %></th>
							<th><%= tmp['O3'] %></th>
							<th><%= tmp['pm10'] %></th>
							<th><%= tmp['pm25'] %></th>
							<th><%= tmp['zonghezhishu'] %></th>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<script>
	$('.home-banner').backstretch("<%= image_url 'top.png' %>");
	$(function(){
		$(".change").click(function(){
			if($(this).is(".active")){
				return;
			}
			$(this).addClass("active").siblings().removeClass("active");

			//change($(this).data("val"));
			/*
			   if($(this).data("type")=='CO')
			   {
			   $("#factor3").html($(this).data("type"))
			   $("#001").css("display","none");
			   $("#002").css("display","none");
			   $("#003").css("display","block");

			   }
			   else if($(this).data("type")=='NOX')
			   {
			   $("#factor2").html($(this).data("type"))
			   $("#001").css("display","none");
			   $("#002").css("display","block");
			   $("#003").css("display","none");
			   }
			   else
			   {
			   $("#factor1").html($(this).data("type"))
			   $("#001").css("display","block");
			   $("#002").css("display","none");
			   $("#003").css("display","none");
			   }
			 */

		});
	});
function change(img){
	$('.yuanzhuizong').html(img);
}

<%
		nt = Time.now
i = 0
path = '/mnt/share/Products/Web/'+@city_adj
begin
	strnow1 = (nt-60*60*24*i).strftime('%Y%m%d') 
	strnow2 = (nt-60*60*24*i).strftime("%Y-%m-%d")
	file = path + strnow1 + '/CUACE_09km_adj_SO2_120_'+strnow2+'.png'
	i = i + 1
	break if i == 7 
end until File::exists?(file)
%>
					//change('<%= image_tag strnow1+"/CUACE_09km_adj_SO2_120_"+strnow2+".png", class:"col-xs-12"%>');
change('<%= image_tag "ftproot/Products/Web/"+@city_adj+strnow1+"/CUACE_09km_adj_SO2_120_"+strnow2+".png", class:"col-xs-12" %>');
</script>
