<%= javascript_include_tag 'js/html-docx/FileSaver','js/html-docx/html-docx' %>
<style type="text/css">
  body{
    font-size:14px;
  }
  .btn-group-lg>.btn, .btn-lg {
    font-size: 20px;
    font-style:italic;
  }
  .btn_my{
    padding:30px 15px;
    width: 5%;
    margin-right: 3%;
  }
</style>
<div class="right_col" style="margin-top:0px; margin-bottom:1px; height:0px" role="main">
  <!-- top tiles -->
  <div class="row tile_count" style="margin:1px; padding:0px; height:0px">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="margin:0px; padding:0px; height:0px">
      <!-- <span class="count_top"><i class="fa fa-user"></i> Total Users</span> -->
      <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
    </div>
  </div>
  <!-- /top tiles -->
  <div class="">
    <!--
    <div class="page-title">
      <div class="title_left">
        <h3>方案模拟</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>效果评估</h2>
            <!--    <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul> -->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <button type="button" class="btn btn-info btn_my">1</button>
            <button type="button" class="btn btn-info btn_my">2</button>
            <button type="button" class="btn btn-info btn_my">3</button>
            <button type="button" class="btn btn-info btn_my">4</button>
            <button type="button" class="btn btn-info btn_my">5</button>
            <button type="button" class="btn btn-info btn_my">6</button>
            <button type="button" class="btn btn-info btn_my">7</button>
            <button type="button" class="btn btn-info btn_my">8</button>
            <button type="button" class="btn btn-info btn_my">+</button>


            <table id='export_table' class="table table-bordered text-center">
              <thead>
                <tr>
                  <th class="text-center" colspan="23">重污染天气应急减排污染表</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">序号</td>
                  <td rowspan="2">日期</td>
                  <td colspan="3">AQI</td>
                  <td colspan="3">PM2.5</td>
                  <td colspan="3">PM10</td>
                  <td colspan="3">NO2</td>
                  <td colspan="3">SO2</td>
                  <td colspan="3">CO</td>
                  <td colspan="3">O3</td>
                </tr>
                <tr>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                  <td>预报值</td>
                  <td>实测值</td>
                  <td>下降率</td>
                </tr>
                <% i = 0%>
                <% @evaluate.each do |k,v| %>
                  <tr>
                    <td><%= i+=1 %></td>
                    <td><%= k.strftime("%m月%d日")%></td>
                    <td><%= v['AQI']['f'].nil? ? '-' : v['AQI']['f'].round(0)%></td>
                    <td><%= v['AQI']['m'].nil? ? '-' : v['AQI']['m'].round(0) %></td>
                    <td><%= v['AQI']['p'].nil? ? '-' : (v['AQI']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['pm25']['f'].nil? ? '-' : v['pm25']['f'].round(0) %></td>
                    <td><%= v['pm25']['m'].nil? ? '-' : v['pm25']['m'].round(0) %></td>
                    <td><%= v['pm25']['p'].nil? ? '-' : (v['pm25']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['pm10']['f'].nil? ? '-' : v['pm10']['f'].round(0) %></td>
                    <td><%= v['pm10']['m'].nil? ? '-' : v['pm10']['m'].round(0) %></td>
                    <td><%= v['pm10']['p'].nil? ? '-' : (v['pm10']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['NO2']['f'].nil? ? '-' : v['NO2']['f'].round(0) %></td>
                    <td><%= v['NO2']['m'].nil? ? '-' : v['NO2']['m'].round(0) %></td>
                    <td><%= v['NO2']['p'].nil? ? '-' : (v['NO2']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['SO2']['f'].nil? ? '-' : v['SO2']['f'].round(0) %></td>
                    <td><%= v['SO2']['m'].nil? ? '-' : v['SO2']['m'].round(0) %></td>
                    <td><%= v['SO2']['p'].nil? ? '-' : (v['SO2']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['CO']['f'].nil? ? '-' : v['CO']['f'].round(1) %></td>
                    <td><%= v['CO']['m'].nil? ? '-' : v['CO']['m'].round(1) %></td>
                    <td><%= v['CO']['p'].nil? ? '-' : (v['CO']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['O3']['f'].nil? ? '-' : v['O3']['f'].round(0) %></td>
                    <td><%= v['O3']['m'].nil? ? '-' : v['O3']['m'].round(0) %></td>
                    <td><%= v['O3']['p'].nil? ? '-' : (v['O3']['p']*100).round(2).to_s+'%' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button id="convert" type="button" class="btn btn-link btn-lg container">导出并打印</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
    document.getElementById('convert').addEventListener('click', function(e) {
      e.preventDefault();
      var content = "<!DOCTYPE html><html><head></head><body>"+document.getElementById("export_table").outerHTML+"</body></html>";
      var converted = htmlDocx.asBlob(content, {orientation: 'portrait'});
      saveAs(converted, 'export.docx');
    });
  </script>
