<%= stylesheet_link_tag "css/daterangepicker-bs3",'buttons' %>
<%= javascript_include_tag 'js/html-docx/FileSaver','js/html-docx/html-docx','moment','daterangepicker','chart' %>

<div class="right_col" style="margin-top:0px; margin-bottom:1px; height:0px" role="main">
  <!-- top tiles -->
  <div class="row tile_count" style="margin:1px; padding:0px; height:0px">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="margin:0px; padding:0px; height:0px">
      <!-- <span class="count_top"><i class="fa fa-user"></i> Total Users</span> -->
      <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
    </div>
  </div>
  <!-- /top tiles -->
  <div class="">
    <!--
    <div class="page-title">
      <div class="title_left">
        <h3>方案模拟</h3>
      </div>
    </div>

    <div class="clearfix"></div>
    -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>效果评估</h2>
            <!--    <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul> -->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <button type="button" class="btn btn-info btn-lg">郑州市重污染天气一级响应措施的减排评估</button>
            <button type="button" class="btn btn-info btn-lg">郑州市重污染天气二级响应措施的减排评估</button>
            <button type="button" class="btn btn-info btn-lg">郑州市重污染天气三级响应措施的减排评估</button>
            <button type="button" class="btn btn-info btn-lg">郑州市重污染天气四级响应措施的减排评估</button>
            <div>重污染天气应急减排</div>
            <div class="ln_solid"></div>
                      <form id='zwrtqyjjp' class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label style="float:left;">时间范围选择:</label>
                        <div class="col-md-2 col-sm-9 col-xs-12">
                          <input type="text" name="reservation" id="reservation" class="form-control"  readonly="readonly">
                        </div>
                        <button type="submit" class="button-buttons button-glow button-rounded button-primary">查询</button>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          
                        </div>
                      </div>

                    </form>
            <table id='export_table' class="table table-bordered text-center">
              <thead>
                <tr>
                  <th class="text-center" colspan="23">重污染天气应急减排污染表</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2">序号</td>
                  <td rowspan="2">日期</td>
                  <td colspan="3">AQI</td>
                  <td colspan="3">PM2.5</td>
                  <td colspan="3">PM10</td>
                  <td colspan="3">NO2</td>
                  <td colspan="3">SO2</td>
                  <td colspan="3">CO</td>
                  <td colspan="3">O3</td>
                </tr>
                <tr>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                  <td>减排前</td>
                  <td>减排后</td>
                  <td>减排比例</td>
                </tr>
                <% i = 0%>
                <% @evaluate.each do |k,v| %>
                  <tr>
                    <td><%= i+=1 %></td>
                    <td><%= k.strftime("%m月%d日")%></td>
                    <td><%= v['AQI']['f'].nil? ? '-' : v['AQI']['f'].round(0)%></td>
                    <td><%= v['AQI']['m'].nil? ? '-' : v['AQI']['m'].round(0) %></td>
                    <td><%= v['AQI']['p'].nil? ? '-' : (v['AQI']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['pm25']['f'].nil? ? '-' : v['pm25']['f'].round(0) %></td>
                    <td><%= v['pm25']['m'].nil? ? '-' : v['pm25']['m'].round(0) %></td>
                    <td><%= v['pm25']['p'].nil? ? '-' : (v['pm25']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['pm10']['f'].nil? ? '-' : v['pm10']['f'].round(0) %></td>
                    <td><%= v['pm10']['m'].nil? ? '-' : v['pm10']['m'].round(0) %></td>
                    <td><%= v['pm10']['p'].nil? ? '-' : (v['pm10']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['NO2']['f'].nil? ? '-' : v['NO2']['f'].round(0) %></td>
                    <td><%= v['NO2']['m'].nil? ? '-' : v['NO2']['m'].round(0) %></td>
                    <td><%= v['NO2']['p'].nil? ? '-' : (v['NO2']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['SO2']['f'].nil? ? '-' : v['SO2']['f'].round(0) %></td>
                    <td><%= v['SO2']['m'].nil? ? '-' : v['SO2']['m'].round(0) %></td>
                    <td><%= v['SO2']['p'].nil? ? '-' : (v['SO2']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['CO']['f'].nil? ? '-' : v['CO']['f'].round(1) %></td>
                    <td><%= v['CO']['m'].nil? ? '-' : v['CO']['m'].round(1) %></td>
                    <td><%= v['CO']['p'].nil? ? '-' : (v['CO']['p']*100).round(2).to_s+'%' %></td>
                    <td><%= v['O3']['f'].nil? ? '-' : v['O3']['f'].round(0) %></td>
                    <td><%= v['O3']['m'].nil? ? '-' : v['O3']['m'].round(0) %></td>
                    <td><%= v['O3']['p'].nil? ? '-' : (v['O3']['p']*100).round(2).to_s+'%' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <center>
            <button id="convert" type="button" class="button-buttons button-glow button-rounded button-primary">
              导出并打印-WORD
            </button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
  /*wordExport-start*/
    document.getElementById('convert').addEventListener('click', function(e) {
      e.preventDefault();
      // var content = '<!DOCTYPE html><html><head><style type="text/css">.table-bordered {border: 1px solid #ddd;}.table {width: 100%;max-width: 100%;margin-bottom: 20px;}.text-center {text-align: center;}table {background-color: transparent;border-spacing: 0;border-collapse:collapse;display: table;}body {font-size: 14px;color: #73879C;background: #2A3F54;font-family: "Helvetica Neue",Roboto, Arial, "Droid Sans", sans-serif;font-weight: 400;line-height: 1.471;}</style></head><body>'+document.getElementById("export_table").outerHTML+'</body></html>';
      var content = '<!DOCTYPE html><html><head><style type="text/css">table {  border-collapse: collapse;}td {  border: 1px gray solid;  padding: 4px;  width: 5em;}  </style></head><body>'+document.getElementById("export_table").outerHTML+'</body></html>';
      var converted = htmlDocx.asBlob(content, {orientation: 'portrait'});
      saveAs(converted, 'export.docx');
    });
    /*wordExport-end*/

    /*daterangepicker-start*/
    var currentDate=new Date();
    var millisecond=1000*60*60*24;  
    var fiveDaysAgo=new Date(currentDate.getTime()-(5*millisecond));
    var yesturday=new Date(currentDate.getTime()-(1*millisecond));
    var startTime = fiveDaysAgo.pattern('yyyy-MM-dd');
    var endTime = yesturday.pattern('yyyy-MM-dd');
    $('#reservation').val(startTime + ' - ' + endTime);
    $('#reservation').daterangepicker({ startTime: startTime, endTime: endTime});
    $('#reservation').daterangepicker(
    { 
      showDropdowns: true,
      format: 'YYYY-MM-DD'
    },
    function(start, end, label) {
      //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      //getChartData(start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'));
      startTime = start.format('YYYY-MM-DD');
      endTime = end.format('YYYY-MM-DD');
    });
    /*daterangepicker-end*/
  </script>
