<div class="home-banner"> 
	<div class="container">
		<table cellpadding="0" cellspacing="0" border="0" width="100%;">
			<tr>
				<td width="780">
					<div class="logo">
						<div class="logo"><img src="<%= image_url 'logo_langfang.png' %>" width="500" height="54" /></div>
					</div>
					<div class="haze-forecast">
						<!-- 级别图 -->
						<div class="haze-grade"><%= image_tag banner['lev']+'.png', width:275, height:157 %></div>
						<!-- 级别图 end -->
						<!-- 参数值  -->
						<div class="haze-value">
							<ul class="haze-value-top">
								<li> 
									<!-- 污染指数 -->
									<span class="haze-numerical <%= banner['lev']+'-font'%>"><%= banner['aqi']%></span>
									<!-- 污染指数 end -->
								</li>
								<li class="haze-value-bar">
									<!-- 污染级别 -->
									<span class="haze-level <%= banner['lev'] %>"><%= banner['lev_han']%></span>
									<!-- 污染级别 end-->
								</li>
								<li  class="haze-value-bar">
									<!-- 污染类型 -->
									<span class="haze-type">AQI&nbsp;&nbsp;&nbsp;&nbsp;<%= banner['rt'].to_time.strftime('%H')%>时实时值更新</span>
									<!-- 污染类型 end-->
								</li>
							</ul> 
							<ul class="haze-classification">
								<li>
									<span class="haze-classification-name you">PM2.5</span>
									<span class="haze-classification-value"><%=banner['pm2_5']%></span>
								</li>
								<li>
									<span class="haze-classification-name you">PM10</span>
									<span class="haze-classification-value"><%=banner['pm10']%></span>
								</li>
								<li>
									<span class="haze-classification-name you">SO2</span>
									<span class="haze-classification-value"><%=banner['so2']%></span>
								</li>
								<li>
									<span class="haze-classification-name you">CO</span>
									<span class="haze-classification-value"><%=banner['co']%></span>
								</li>
								<li>
									<span class="haze-classification-name you">NO2</span>
									<span class="haze-classification-value"><%=banner['no2']%></span>
								</li>
								<li>
									<span class="haze-classification-name you">O3</span>
									<span class="haze-classification-value"><%=banner['o3']%></span>
								</li>
							</ul>
						</div>
						<!-- 参数值  -->
					</div>
				</td>
				<td width="420" valign="bottom">
					<!-- 天气  -->
					<div class="weather">
						<div class="date">
							<span><%= banner['time'].to_time.strftime("%Y年%m月%d日%H时") %> <br></span>
							<span><script type="text/javascript">$(function(){$('.weather .date span:eq(1)').html("星期" + "日一二三四五六".charAt(new Date().getDay()))})</script>&nbsp;&nbsp;&nbsp;&nbsp; </span>
							<span> 农历 <%= ChineseLunar::Lunar.new.lunar_date_in_chinese()[-5,5].delete" " %></span>
						</div>
						<div class="top-weather">
							<div class="top-weather-icon"><img src="<%= image_url 'top-weather.png' %>" width="64" height="49"></div>
								<div class="top-weather-text"> <span>晴</span>
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= banner['temp'] %>℃</span>
									<span style="font-size:18px;"><br><%= banner['WD'] + banner['WS'] %> </span>
										<span style="font-size:18px;"> 湿度：<%= banner['SD'] %></span>
							</div>
						</div>
					</div>
				</td>
			</tr>
		
		</table>
	</div>
</div>
<script type='text/javascript'>
	$('.home-banner').backstretch("<%= image_url 'bg.jpg' %>");
</script>
