<table stylecellpadding="0" cellspacing="0" class="content" >
	<tbody>
		<tr>
			<td>
				<ul class="menu">
					<li id="menu_forecast" style="production:left;padding:0px;margin:0px"> <font class="top11-title" style="color:black; padding:0px;margin:0px">空气质量预报</font>
					</li>
				</ul>
				<div class="future-list">
					<ul>
						<% for i in (0..2) %>
						<% time = i.day.from_now.strftime("%Y%m%d")%>
						<% t = forecast_data[time] %>
						<% next unless t %>
						<% dnil='暂无数据'%>
						<li>
							<h4 class="list-title">
								<%= t["date"] %></h4>
							<table cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>
											<span class="gray">AQI日报范围</span>
										</td>
										<td>
											<span class="list-alue" style="<%='font-size:12px' if t['min_forecast'].nil? %>
												">
                        <%= t['min_forecast'] != nil ? "#{t['min_forecast']}~#{t['max_forecast']}": dnil%>
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="gray">级别</span>
										</td>
										<td>
											<span class="list-alue" style="<%='font-size:12px' if t['fore_lev'].nil? %>
												">
												<span class="<%= t['fore_lev'] if t["fore_lev"] != nil %><%= t['fore_lev'] != nil ? ' small' : ' small1'%> ">
													<%= t['level'] !=nil ? t["level"] : dnil%></span>
											</span>
                      <% if t['fore_lev'] != t['fore_lev1'] %>
                        <span> ~ </span>
											<span class="list-alue" style="<%='font-size:12px' if t['fore_lev1'].nil? %>
												">
												<span class="<%= t['fore_lev1'] if t["fore_lev1"] != nil %><%= t['fore_lev1'] != nil ? ' small' : ' small1'%> ">
													<%= t['level1'] !=nil ? t["level1"] : dnil%></span>
											</span>
                      <% end %>
										</td>
									</tr>
									<tr>
										<td style="width:88px;">
											<span class="gray">首要污染物</span>
										</td>
										<td>
											<span class="list-alue" style="<%='font-size:12px' if t['main_pollutant'].nil?%>
												">
												<%= t["main_pollutant"] != nil ? t["main_pollutant"] : dnil%></span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="gray">天气</span>
										</td>
										<td class="list-weather" >
											<span >
												<%= t["tq"] != nil ? t["tp"] : '-' %>
												&nbsp;
												<br>
												<%= t["temp2"] !=nil ? t['temp2'] : '-' %>
												℃~
												<%= t["temp1"] !=nil ? t['temp1'] : '-' %>
												℃
												<br>
												<%= t["wd"] !=nil ? t['wd'] : '-'%>
												&nbsp
												<%= t["ws"] !=nil ? t['ws'] : '-' %></span>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<% end %>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>
