<%= render partial:"langfang/banner",locals:{banner:@banner} %>
<<<<<<< HEAD
<div class="container">
	<div class='row'>
		<%= render partial:"langfang/fore_table",locals:{forecast_data:@forecast_data} %>
	</div>
	<div class='row'>
		<div style="font-size:large;">未来5天趋势预报</div>
	</div>
	<input value="http://60.10.151.85:81/netpicture/cuacepicture/<%= Time.now.strftime("%Y%m%d") %>/750_554/" id='imagePath' type='hidden' />
	<div class = 'row'>
		<div class='t-t' id='t-t'>
			<a href='javascript:void(0)' class='cur'>PM2.5</a>
			<a href='javascript:void(0)' >PM10</a>
			<a href='javascript:void(0)' >SO2</a>
			<a href='javascript:void(0)' >CO</a>
			<a href='javascript:void(0)' >NO2</a>
			<a href='javascript:void(0)' >O3</a>
			<a href='javascript:void(0)' >AQI</a>
			<a href='javascript:void(0)' >能见度</a>
		</div>
	</div>
	<div class="row">
		<!--未来5天趋势预报图-->
		<div id="item-content-air" class="t-c">
			<!--img id="id0_0" src="" alt="" onclick='imageViewClick(this);' style='cursor:pointer;' onerror='showOtherPic(this)' width='100%' -->
		</div>
	</div>
	<!--趋势预报end-->
	<div class="row">
		<div class="t-b">
			<div class="ui-center">
				<div class="en-air-top-banner" id="tip-banner">
					<div class="air-date" id="air-date">
						<span class="aftertime-title">日期：</span>
						<span class="dateElement">
							<a href="javascript:;" title="<%= Time.now.strftime('%Y-%m-%d') %>" class="cur" id="date1" nextid="date2">
								<%= Time.now.month %>月<%= Time.now.day %>日</a>
						</span>
						<span class="dateElement">
							<a href="javascript:;" title="<%= 1.days.from_now.strftime("%Y-%m-%d") %>" class="" id="date2" nextid="date3">
								<%= 1.days.from_now.month %>月<%= 1.days.from_now.day %>日</a>
						</span>
						<span class="dateElement">
							<a href="javascript:;" title="<%= 2.days.from_now.strftime("%Y-%m-%d") %>" class="" id="date3" nextid="date4">
								<%= 2.days.from_now.month %>月<%= 2.days.from_now.day %>日</a>
						</span>
						<span class="dateElement">
							<a href="javascript:;" title="<%= 3.days.from_now.strftime("%Y-%m-%d") %>" class="" id="date4" nextid="date5">
								<%= 3.days.from_now.month %>月<%= 3.days.from_now.day %>日
							</a>
						</span>
						<span class="dateElement">
							<a href="javascript:;" title="<%= 4.days.from_now.strftime("%Y-%m-%d") %>" class="" id="date5" nextid="date1">
								<%= 4.days.from_now.month %>月<%= 4.days.from_now.day %>日
							</a>
						</span>
					</div>
					<div class="air-time">
						<div class="air-time-title" style="color:#000000">时间：</div>
						<div class="air-time-content">
							<a href="javascript:void(0)" class="ct" id="tc" style="left: -10px;">00</a>
						</div>
						<div class="air-time-control">
							<a href="javascript:void(0)" class="start" id="kg"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
