<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <%= stylesheet_link_tag 'application','css/styles','css/jquery-ui',"css/bootstrap.min", 'css/bootstrap-table.min', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
          <%= favicon_link_tag '/favicon.png' %>
        </head>
        <body class="<%= params[:controller] + '-' + params[:action] %>">
          
          <%= yield %>
          
          </body>
        </html>


